[gerrit]
	basePath = git
	canonicalWebUrl = http://798a637c69e7
	serverId = 2238d2ee-0daa-49f3-a691-e8fe07aeb6c2
[database]
	type = postgresql
	hostname = postgres
        database = reviewdb
        username = gerrit
[index]
        type = LUCENE
[auth]
	type = ldap
	gitBasicAuth = true
	gitBasicAuthPolicy = HTTP
[ldap]
        server = ldap://47.103.158.239
        username = cn=admin,dc=example,dc=org
        accountBase = dc=example,dc=org
       	accountPattern = (&(objectClass=person)(uid=${username}))
	accountFullName = displayName
	accountEmailAddress = mail
	groupBase = dc=example,dc=org
[sendemail]
	smtpServer = localhost
[container]
	user = root
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
	javaHome = /usr/lib/jvm/java-11-openjdk-11.0.20.0.8-3.el8.x86_64
	javaOptions = -Djava.security.egd=file:/dev/./urandom
	javaOptions = --add-opens java.base/java.net=ALL-UNNAMED
	javaOptions = --add-opens java.base/java.lang.invoke=ALL-UNNAMED
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
[theme]
	backgroundColor = ffffff
	topMenuColor = f5f5f5
	textColor = 000000
	trimColor = f5f5f5
	selectionColor = cccccc

# [gitweb]
# 	type = custom
# 	url = http://github.com/northscale/
# 	revision = ${project}/commit/${commit}
# 	project = ${project}
# 	branch = ${project}/commits/${branch}
[receive]
	enableSignedPush = false
